<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>
<h1>Login</h1>
<a href="{{ home_page_url }}" class="button">Back</a>
<br>
<br>

<form id="login_form" method="post" action="/users/login/">
    {#        {% csrf_token %}#}
    {{ error_message }}
    {{ login_form.as_p }}

    <input type="submit" value="submit"/>
</form>
</body>
</html>