<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>
<h1>Register Page</h1>
<a href="{{ home_page_url }}" class="button">Back</a>
<br>
<br>
{% if is_successful %}
    Registration was successful!
    <br>
    <a href="/home/">Return to the homepage.</a>
    <br>
    <a href="/users/login">Login.</a>
    <br>
{% else %}
    Fill this form so you register in the FruitShop<br/>

    <form id="user_form" method="post" action="/users/register/"
          enctype="multipart/form-data">
        {#        {% csrf_token %}#}
        {{ user_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
    </form>
{% endif %}
</body>
</html>