body {
    margin: 35px auto;
    max-width: 650px;
    line-height: 1.5;
    font-size: 16px;
    padding: 0 10px
}

table {
    width: 100%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 18px;

    text-decoration: none;
    color: initial;
    padding: 2px;
}

h1, h2, h3 {
    line-height: 1.2
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}