<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if is_create %}
    <title>Create Product</title>
    {% else %}
    <title>Edit Product</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>
{% if is_create %}
<h1>Create Product</h1>
{% else %}
<h1>Edit Product</h1>
{% endif %}
<a href="{{ products_management_url }}" class="button">Back</a>
<div>
    <form id="product_form">
        {{ product_form.as_p }}
        {% if is_create %}
        <input type="button" value="Submit" onclick="createProduct();"/>
        {% else %}
        <input type="button" value="Submit" onclick="editProduct({{ product_id }});"/>
        {% endif %}

    </form>
</div>
</body>
<script src="{% static "pages/products.js" %}"></script>
</html>