<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if is_create %}
    <title>Create Sell</title>
    {% else %}
    <title>Edit Sell</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>
{% if is_create %}
<h1>Create Sell</h1>
{% else %}
<h1>Edit Sell</h1>
{% endif %}
<a href="{{ sells_management_url }}" class="button">Back</a>
<div>
    <form id="sell_form">
        {{ sell_form.as_p }}
        {% if is_create %}
        <input type="button" value="Submit" onclick="createSell();"/>
        {% else %}
        <input type="button" value="Submit" onclick="editSell({{ sell_id }});"/>
        {% endif %}

    </form>
</div>
</body>
<script src="{% static "pages/sells.js" %}"></script>
</html>