<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruitshop - Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>
<body>
<header>
    <h1>Fruit shop - le best shop in Shopland</h1>
    <p><strong>We have the best fruit in town</strong></p>
</header>
{% if not is_auth %}
    <p>We can provide you with the best fruit from all over the world. Fresh and delicious, our products are unmatched by the
        competition.</p>

    <p>It can be yours, just for the price of:</p>
    <h2>Your data</h2>
    <p>Yes, you need to register in order to use this website. Weird right? Too bad. Just register and login, so we can be done
        with
        it.</p>

    <a href="{{ register_url }}" class="button">Register</a>
    <a href="{{ login_url }}" class="button">Login</a>
    <br>
{% else %}
    <h2>Welcome back, {{ user_name }}, the shopkeeper.</h2>
    <p>We have awaited for your arrival.</p>

    <br>
    If you wish to manage the products, you can do it using:
    <a href="{{ manage_products_url }}" class="button">Products</a>

    <br>
    In the other hand, if you want to manage the sells, press:
    <a href="{{ manage_sells_url }}" class="button">Sells</a>
    <br>
    <br>
    You can exit using: <a href="{{ logout_url }}" class="button">Logout</a>
{% endif %}
</body>
</html>