<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Sells</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>

</head>
<body>
<header>
    <h1>Sells List</h1>
    <a href="{{ home_page_url }}" class="button">Back</a>
    <p>Here you can find the store's sells</p>
    <br>
    If you wish, you can also create a new Sell:
    <a href="{{ create_sell_url }}" class="button">Add</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>User</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </tr>
        {% for sell in sells %}
            <tr>
                <td>{{ sell.id }}</td>
                <td>{{ sell.product.name }}</td>
                <td>{{ sell.user.username }}</td>
                <td>{{ sell.quantity }}</td>
                <td><a href="{{ create_sell_url }}{{ sell.id }}/" class="button">Edit</a></td>
                <td><button type="button" onclick="deleteSell({{ sell.id }})">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
</header>
</body>
<script src="{% static "pages/sells.js" %}"></script>
</html>