<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
</head>

</head>
<body>
<header>
    <h1>Products List</h1>
    <a href="{{ home_page_url }}" class="button">Back</a>
    <p>Here you can find the store's products</p>
    <br>
    If you wish, you can also create a new Product:
    <a href="{{ create_product_url }}" class="button">Add</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Expiration Date</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        {% for prod in products %}
            <tr>
                <td>{{ prod.id }}</td>
                <td>{{ prod.name }}</td>
                <td>{{ prod.description }}</td>
                <td>{{ prod.exp_date }}</td>
                <td>{{ prod.price }} €</td>
                <td><a href="{{ create_product_url }}{{ prod.id }}/" class="button">Edit</a></td>
                <td><button type="button" onclick="deleteProduct({{ prod.id }})">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
</header>
</body>
<script src="{% static "pages/products.js" %}"></script>
</html>